/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
    max-width: 62rem; // 620px
    margin-right: auto;
    margin-left: auto;
    padding-top: 10rem; // 100px
    padding-right: 1.6rem; // 16px
    padding-left: 1.6rem; // 16px
}
