/* ==========================================================================
   Separator
   ========================================================================== */

.u-separate {
    margin-right: .45rem;
    margin-left: .45rem;
    color: $c-base__01;
    &:after {
        content: '·';
    }
}
