/* ==========================================================================
   Archives
   ========================================================================== */

.c-archives {
    margin-bottom: 10rem;
}

.c-archives__list {	
    list-style: none;	
}

%item-shared {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @media screen and (min-width: $bp__sm) {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    h3 {
        @include fs--body;
    }

    p {
        @include fs--body;
        color: #515862;
    }
}

.c-archives__item {
    @extend %item-shared;
}

.c-archives__item__separator {
    @extend %item-shared;
    border-top: 1px solid #EFF1F3;
}
